/* search */
#searchQuery {
    padding: .25rem;
    border-radius: .5rem;
    border: none;
    width: 12rem;
    text-align: left;
}
#searchBtn {
    background: rgba(0, 0, 0, 0);
    border: none;}

#search_icon {color: white;font-size: 1.2rem;}